.body-container{
   background-color: #fff;
}

.body-header{
    display: flex;
    align-items: center;
   justify-content: center;
   padding-bottom: 1rem;
   padding-top: 1rem;
   gap: 7rem;
   background: #fff;
   border-top: var(--section-border);
   border-bottom: var(--section-border);
}

.active{
    color: var(--primary-color);
}

.hoverer{
    color: #fff;
    background: var(--primary-color);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: .1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1rem;
}

.body-header-personalised{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}
.body-header-featured{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}
.body-header-view{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-top{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.main-top p{
    color: grey;
}


.body-content{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-top img{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.main-top .spec-img img{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 7px 7px 7px 7px;
}

.featured-tag{
    font-size: .85rem;
    display: flex;
    gap: .3rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    border: 1px solid grey;
    width: 6.5rem;
    padding: .3rem;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    color: rgb(65, 167, 70);
    font-weight: bold;
    justify-content: center;
}

.featured-tag .featured-star{
    color: rgb(234, 148, 19);
    font-size: 1rem;
}

.read-time{
    display: flex;
    gap: .3rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1.23rem;
    align-items: center;
}

.read-time .book{
    color: var(--primary-color);
}

.message{
    color: grey;
}





@media screen and (max-width: 450px){
     .body-header{
        gap:3rem;
    }
}
@media screen and (max-width: 400px){
    
}
@media screen and (max-width: 376px){
    .body-header{
        gap:2.5rem;
    }

    .main-top{
        font-size: .85rem;
    }

    .featured-tag{
        font-size: .65rem;
        padding: .1rem;
        width: 5.5rem;
    }

    .message-container .heading{
        font-size: 1.35rem;
    }

    .read-time{
        font-size: .95rem;
        font-weight: bold;
    }
    .hoverer{
        bottom: 10rem;
    }
}