@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --primary-color: rgb(70, 68, 255);
    --section-border: .5px solid rgb(187, 186, 186);
}

.just{
    background: rgb(235, 233, 233);
}

.division{
    height: 2rem;
}

*{
    font-family: 'Heebo', sans-serif;
font-family: 'Poppins', sans-serif;
}



/* .App{
    background: rgb(212, 208, 208);
} */